<p>Hello,</p>
<p>
	The tag with serial number  <strong><%= MaintainceErrorData.serialNumber %></strong> in organization "<strong><%=MaintainceErrorData.organization %></strong>" has reported an error on <%= MaintainceErrorData.dateAndTime %>.
</p>

<p>
	Severity :  <strong > <%= MaintainceErrorData.severity  %></strong>
</p>
JSON :  <pre > <%= MaintainceErrorData.json  %></pre>
Thank you,
<br>
<strong><%= email.fromName %></strong>
