<p>Hello,</p>
<p>
	Here is some information related to the tag,
	<br><br>
	<table>
		<thead>
		</thead>
		<tbody>
			<tr><td>MAC</td><td>:</td><td><%= maintenanceInfo.macAddress %></td></tr>
			<tr><td>Organization</td><td>:</td><td><%= maintenanceInfo.organization %></td></tr>
			<tr><td>Maintenance reason<td>:</td></td><td><%= maintenanceInfo.maintReason %></td></tr>
			<tr><td>Date and time<td>:</td></td><td><%= maintenanceInfo.dateAndTime %></td></tr>
		</tbody>
	</table>
	<p>
		<span class="labelDesc">JSON : </span>
		<pre> <%= maintenanceInfo.json %></pre>
	</p>
</p>

Thank you,
<br>
<strong><%= email.fromName %></strong>