<p>Hello,</p>
<p>
	The tag with serial number  <strong><%= MaintainceErrorData.serialNumber %></strong> in organization "<strong><%=MaintainceErrorData.organization %></strong>" has restarted on <%= MaintainceErrorData.dateAndTime %>.
</p>

JSON :  <pre > <%= MaintainceErrorData.json  %></pre>
Thank you,
<br>
<strong><%= email.fromName %></strong>