<p>Hi <%= user.emailID %>!</p>
<p>
	<%= email.fromName %> received a request to reset the password for your account (<strong><%=user.emailID %></strong>).
</p>
<p>Click this link to reset your password:</p>
<p>
	<a href="<%= email.baseURL %>reset-passwordl?token=<%= user.token %>">
		<%= email.baseURL %>reset-password?token=<%= user.token %>
	</a>
</p>
<p>
	The link will expire after <%= user.tokenExpire %> hours.
</p>
Thanks,
<br>
<strong><%= email.fromName %></strong>
<hr>
<p style="font-size: smaller">
	Please do not reply to this email. Click <a
		href="<%= email.baseURL %>help">here</a> to contact Emanate Support.
</p>