<p>Hi <%= user.username %>!</p>
<p>
	You signed up for a PowerPath Cloud Server account using the email <strong><%=
		user.emailID %></strong>.
</p>
<p>
	You can log in into the PowerPath Dashboard at <a
		href="<%= email.baseURL %>"><%= email.baseURL %></a>
</p>
Thank you,
<br>
<strong><%= email.fromName %></strong>
