<p>Hi,</p>
<p>
	I had some problems on the Emanate portal.
	Here is some information to help you diagnose and fix the problem -
	<br><br>
	<table>
		<thead>
		</thead>
		<tbody>
			<tr><td>User</td><td>:</td><td><%= ReportProblemData.username %></td></tr>
			<tr><td>Organization<td>:</td></td><td><%= ReportProblemData.organization %></td></tr>
			<tr><td>Deployment<td>:</td></td><td><%= ReportProblemData.deployment %></td></tr>
		</tbody>
	</table>
	<br>
	<span class='labelDesc'>Description:</span>
	<br><br>
	<span class='contentDesc'><%- ReportProblemData.reportDescription %></span>
</p>


Thank you,
<br>
<strong><%= ReportProblemData.username %></strong>
<hr>