<p>Hi <%= user.username %>!</p>
<p>
	You have been granted access to the organization "<strong><%=user.organizationName
		%></strong>". 
	<br>Your log in email still is <strong><%=user.emailID %></strong>.

</p>
<p>
	<a href="<%= email.baseURL %>">You
		can log in to access the organization.</a>
</p>

Thank you,
<br>
<strong><%= email.fromName %></strong>
