<p>Hi <%= user.username %>!</p>
<p>
	You have been signed up for a PowerPath Cloud Server account to the organization "<strong><%=
		user.organizationName %></strong>". 
	<br>Your log in email is <strong><%=user.emailID %></strong>.
</p>

<p>
	<a href="<%=email.baseURL %>reset-password?token=<%= user.userID  %>">Choose your password here.</a>
</p>

Thank you,
<br>
<strong><%= email.fromName %></strong>
