<p>Hi <%= user.username %>!</p>
<p>
	You have been signed up for an <%= email.fromName %> account to the organization "<%=
		user.organizationName %>". 
	<br>Your log in email is <strong><%=user.emailID %></strong>.
</p>

<p>
	<a href="<%=email.baseURL %>reset-password?token=<%= user.userID  %>">Choose your password here.</a>
</p>

Thanks,
<br>
<strong><%= email.fromName %></strong>
<hr>
<p style="font-size: smaller">
	Please do not reply to this email. Click <a
		href="<%= email.baseURL %>help">here</a> to contact Emanate Support.
</p>
